# Cloudflare & Let's Encrypt
ACME_EMAIL=you@example.com
CF_DNS_API_TOKEN=changeme
CLOUDFLARE_TUNNEL_TOKEN=changeme

# Domínios (substitua example.com pelo seu domínio)
DOMAIN_BASE=example.com
TRAEFIK_DOMAIN=traefik.example.com
PROMETHEUS_DOMAIN=prometheus.example.com
GRAFANA_DOMAIN=grafana.example.com
LOKI_DOMAIN=loki.example.com

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

